@import url('theme.css');

.header_button{
    background-color: var(--yellow);
}

.header_button span{
    color: var(--lightBlue);
}

.text{
    font-size: var(--fontSize);
    /* color: var(--blackForText); */
}

.image_section{
    background-image: url("../../assets/images/header2.jpg ");
    background-repeat: no-repeat;
    background-size: cover
 }

 .get_started_right{
    background-image: url("../../assets/images/footer-cards/footer1.png");
 }
 
 .get_started_left{
    background-image: url("../../assets/images/footer-cards/footer2.png");
 }
 